    <%= form_tag search_path,class:"uk-form" do %>
      <input type="text" name="name" class="uk-form-small uk-form-width-medium">
      <input type="submit" class="uk-button uk-icon-search uk-button-primary" value="検索">
       <legend></legend>
    <% end %> 
    <% @tabs.each do |tab| %>
      <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
        <div class="uk-text-large uk-width-1-1">
          <%=link_to tab.name ,"/notes/hashtag/#{tab.id}", { :class => "uk-button uk-width-1-1 uk-margin-mini-button" } %>
        </div>
      </ul>
    <%end%>